*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.varela-round{
    font-family: 'Varela Round', sans-serif;
}

/* debug */

.debug{
    border: 1px solid black;
}

/* border */

.b-1px-solid-grey{
    border: 1px solid grey;
}

/* display */

.block{
    display: block;
}

.inline{
    display: inline;
}

/* flex */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.flex-end{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}

.f-start{
    align-items: flex-start;
}

.f-center{
    align-items: center;
}

/* flex basis */

.flex-basis-30perc{
    flex-basis: 30%;
}

.flex-basis-40perc{
    flex-basis: 40%;
}

.flex-basis-50perc{
    flex-basis: 50%;
}

.flex-basis-60perc{
    flex-basis: 60%;
}

/* background color */

.bg-color-white{
    background-color: white;
}

.bg-color-blue{
    background-color: blue;
}

.bg-color-lightblue{
    background-color: lightblue;
}

/* margin */

.margin-5px{
    margin: 5px;
}

/* margin top */

.margin-top-5px{
    margin-top: 5px;
}

.margin-top-15px{
    margin-top: 15px;
}

.margin-top-30px{
    margin-top: 15px;
}

.margin-top-100px{
    margin-top: 100px;
}
.margin-top-0-8vh{
    margin-top: 0.8vh;
}

.margin-top-1vh{
    margin-top: 1vh;
}

.margin-top-1-5vh{
    margin-top: 1.5vh;
}

.margin-top-2vh{
    margin-top: 2vh;
}

.margin-top-3vh{
    margin-top: 3vh;
}

.margin-top-4vh{
    margin-top: 4vh;
}

.margin-top-5vh{
    margin-top: 5vh;
}

.margin-top-6vh{
    margin-top: 6vh;
}

.margin-top-7vh{
    margin-top: 7vh;
}

.margin-top-11vh{
    margin-top: 11vh;
}

.margin-top-12vh{
    margin-top: 12vh;
}

/* margin bottom */

.margin-bottom-5px{
    margin-bottom: 5px ;
}

.margin-bottom-50px{
    margin-bottom: 50px ;
}

.margin-bottom-1vh{
    margin-bottom: 1vh ;
}

.margin-bottom-2vh{
    margin-bottom: 2vh ;
}

.margin-bottom-4vh{
    margin-bottom: 4vh ;
}

/* margin left */

.margin-left-30px{
    margin-left: 30px ;
}

.margin-left-50px{
    margin-left: 50px ;
}

/* margin right */


.margin-right-20px{
    margin-right: 20px ;
}

.margin-right-30px{
    margin-right: 20px ;
}

/* dimension */

/* height */

.height-100perc{
    height: 100%;
}

.height-200px{
    height: 200px;
}

.height-500px{
    height: 500px;
}

.height-600px{
    height: 600px;
}

.height-700px{
    height: 700px;
}

.height-800px{
    height: 800px;
}

.min-height-80px{
    min-height: 80px;
}

.min-height-100px{
    min-height: 100px;
}

.min-height-200px{
    min-height: 200px;
}

.height-2-3vh{
    height: 2.3vh;
}

.height-5vh{
    height: 5vh;
}

.height-8vh{
    height: 8vh;
}

.height-10vh{
    height: 10vh;
}

.height-40vh{
    height: 40vh;
}

.height-57vh{
    height: 57vh;
}

.height-60vh{
    height: 60vh;
}

.height-62vh{
    height: 62vh;
}

.height-84vh{
    height: 84vh;
}

he

/* width */

.width-10perc{
    width: 10%;
}

.width-20perc{
    width: 20%;
}

.width-25perc{
    width: 25%;
}

.width-30perc{
    width: 30%;
}

.width-40perc{
    width: 40%;
}

.width-50perc{
    width: 50%;
}

.width-60perc{
    width: 60%;
}

.width-70perc{
    width: 70%;
}

.width-80perc{
    width: 80%;
}

.width-90perc{
    width: 90%;
}

.width-100perc{
    width: 100%;
}

.width-30px{
    width: 30px;
}

.width-80px{
    width: 80px;
}

/* padding */

.padding-5px{
    padding: 5px;
}

.padding-10px{
    padding: 10px;
}

.padding-20px{
    padding: 20px;
}

/* padding top */

.padding-top-10px{
    padding-top: 10px;
}

.padding-top-15px{
    padding-top: 15px;
}

.padding-top-20px{
    padding-top: 20px;
}

.padding-top-30px{
    padding-top: 30px;
}

.padding-top-40px{
    padding-top: 40px;
}

/* padding bottom */

.padding-bottom-3px{
    padding: 3px;
}

.padding-bottom-5px{
    padding: 5px;
}

.padding-bottom-10px{
    padding-bottom: 10px;
}

.padding-bottom-15px{
    padding-bottom: 15px;
}

.padding-bottom-20px{
    padding-bottom: 20px;
}

/* padding left */

.padding-left-5px{
    padding-left: 5px;
}

.padding-left-20px{
    padding-left: 20px;
}

.padding-left-30px{
    padding-left: 30px;
}

.padding-left-18perc{
    padding-left: 18%;
}

.padding-left-20perc{
    padding-left: 20%;
}

.padding-left-22perc{
    padding-left: 22%;
}

/* padding right */

.padding-right-20px{
    padding-right: 20px;
}

.padding-right-30px{
    padding-right: 30px;
}

.padding-right-18perc{
    padding-right: 18%;
}

.padding-right-20perc{
    padding-right: 20%;
}

.padding-right-22perc{
    padding-right: 22%;
}


/* position */

.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* color */

.white{
    color: white;
}

.lightgrey{
    color: lightgrey;
}

.grey{
    color: rgb(165, 165, 165);
}

/* font size */

.font-size-500perc{
    font-size: 500%;
}

.font-size-1vh{
    font-size: 1vh
}

.font-size-1-3vh{
    font-size: 1.3vh
}

.font-size-1-6vh{
    font-size: 1.6vh
}

.font-size-2vh{
    font-size: 2vh;
}

.font-size-3vh{
    font-size: 3vh;
}

.font-size-3-5vh{
    font-size: 3.5vh;
}

.font-size-4vh{
    font-size: 4vh;
}

.font-size-6vh{
    font-size: 6vh;
}

.font-size-7vh{
    font-size: 7vh;
}

.font-size-10vh{
    font-size: 10vh;
}

.font-size-4vw{
    font-size: 4vw;
}

/* text align */

.t-align-center{
    text-align: center;
}

/* text decoration */

.text-decoration-none{
    text-decoration: none;
}

/* style */

.list-style-none{
    list-style: none;
}

/* custom element */

/* nav bar model 1 */

.nav-stiky-1{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    position: sticky;
    top: 0;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    background-color: white;
    z-index: 9999999;
}

.nav-sec-1{
    width: 50%;
    display: flex;
    line-height: 4.5vh;
}

.nav-sec-2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    line-height: 4.5vh;
}

.nav-logo-box{
    margin-left: 30px;
    margin-top: 1.1vh;
}

.nav-li{
    display: inline;
    margin-left: 50px;
    font-size: 1.3vh;
    height: 5vh;
    display: inline-block;
}

nav div div ul li:hover{
    border-bottom: 1px solid black;

}

.nav-button-box{
    background-color: blue;
    line-height: 2.5vh;
    height: 2.5vh;
    margin-top: 1.4vh;
    width: 5vw;
    text-align: center;
    margin-right: 2vw;
    font-size: 1.3vh;
}

/* 

alte inserite: 

-height-2-3vh

-inline

-margin-5px

-text-decoration-none

-margin-right-20px

-white

*/

/* fine nav bar model 1 */

/* header model 1 */

.header-1{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 62vh;
    width: 100%;
    padding-left: 18%;
    padding-right: 18%;
    font-family: 'Varela Round', sans-serif;
}

.header-title-box{
    height: 200px;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.header-button-box{
    display: block;
    font-size: 1.3vh;
    margin-top: 5vh;
    width: 18vh;
    text-align: center;
}

.header-button-text{
    background-color: blue;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.header-arrow{
    display: block;
    margin-top: 7vh;
    font-size: 6vh;
}

/* 

altre inserite: 

-font-size-7vh

-flex

-height-40vh

-width-30perc

-font-size-1-3vh

*/

/* fine header model 1 */

/* trova il piano business che fa per te */

.pb-container{
    font-family: 'Varela Round', sans-serif;
    padding-left: 22%;
    padding-right: 22%;
}

.pb-title{
    margin-top: 11vh;
    font-size: 3.5vh;
}

.pb-3columns-container{
    display: flex;
    margin-top: 4vh;
    justify-content: space-between;
}

.pb-columns{
    flex-basis: 30%;
    border: 1px solid grey;
}

.pb-columns-title{
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px;
    font-size: 1.3vh;
}

.pb-columns-contents{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}

.pb-button-box{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5vh;
    background-color: blue;
    display: block;
    text-align: center;
}

.pb-button-text{
    color: white;
    text-decoration: none;
    font-size: 1.3vh;
}

.pb-buy-now{
    display: block;
    font-size: 1.3vh;
    margin-top: 2vh;
}

.pb-important-point-title{
    display: block;
    margin-top: 5vh;
    font-size: 1.3vh;
}

.pb-ul{
    margin-top: 2vh;
    font-size: 1vh;
    list-style: none;
}

.pb-ul li::before{
    content: '';
    display: inline-block;
    height: 2vh;
    width: 2vw;
    background-image: url('../img/tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
    position: relative;
    top: 0.6vh;
    left: 1vh;
}

.pb-enterprise{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-top: 4vh;
    padding-bottom: 3vh;
}

.pb-enterprise-first{
   flex-basis: 65%;
   padding-top: 4vh;
   padding-left: 2vw;
}

.pb-enterprise-second{
    flex-basis: 35%;
    padding-top: 3vh;
    padding-right: 2vh;
    padding-left: 6vw;
}

.pb-button-box2{
    width: 22vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    display: block;
    text-align: center;
}

/* 

altre inserite: 

-margin-top-2vh

-margin-top-5vh

-margin-left-50px

-block

-font-size-1-3vh

-font-size-2vh

-grey

-flex

*/

/* fine trova il piano business che fa per te */

/* get in touch */

.git-container{
    display: flex;
    font-family: 'Varela Round', sans-serif;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 10vh;
}

.git-img-b{
    flex-basis: 60%;
    height: 45vh;
}

.git-text-box{
    flex-basis: 40%;
    padding-top: 5vh;
    padding-left: 4vh;
}

.git-button{
    margin-top: 3vh;
    display: block;
    text-align: center;
    width: 9vw;
    border: 1px solid grey;
    color: grey;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 0 2px black
}

/* fine get in touch */

/* esegui pi첫 operazioni */

.epo-container{
    font-family: 'Varela Round', sans-serif;
    padding-left: 22%;
    padding-right: 22%;
}

.epo-title{
    margin-top: 11vh;
    font-size: 3.5vh;
}

.epo-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.epo-card{
    flex-basis: 30%;
    margin-top: 4vh;
}

/* fine esegui pi첫 operazioni */

/* pi첫 di 500.000 team */

.pd5-container{
    font-family: 'Varela Round', sans-serif;
    padding-left: 22%;
    padding-right: 40%;
}

.pd5-title{
    margin-top: 15vh;
    font-size: 3.5vh;
}

/* fine pi첫 di 500.000 team */

/* brand area */

.ba-container{
    display: flex;
    margin-top: 10vh;
}

.ba-4box{
    flex-basis: 33.3%;
    display: flex;
    flex-wrap: wrap;
}

.ba-img{
    filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(48deg) brightness(110%) contrast(100%);
    margin-top: 25%;
    margin-left: 25%;
}

.ba-img2{
    filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(48deg) brightness(110%) contrast(100%);
    margin-top: 42%;
    margin-left: 21%;
}

.ba-box{
    flex-basis: 50%;
    height: 25vh;
    background-color: lightgreen;
}

.ba-box2{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(99, 11, 11);
}

.ba-box3{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(8, 166, 194);
}

.ba-box4{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(255, 0, 0);
}

.ba-box5{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(255, 0, 0);
}

.ba-box6{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(136, 136, 136);
}

.ba-box7{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(3, 27, 134);
}

.ba-box8{
    flex-basis: 50%;
    height: 25vh;
    background-color: rgb(251, 255, 0);
}

.ba-central{
    flex-basis: 33.3%;
    background-color: lightgray;
    padding: 2vw;
}

.ba-tex-e-button{
    padding-left: 22%;
    background-color: aquamarine;
    display: flex;
    padding-top: 5%;
    padding-right: 22%;
    padding-bottom: 5%;
}

.ba-text{
    color: indigo;
    flex-basis: 50%;
}

.ba-title{
    font-size: 3.5vh;
}

.ba-button-box{
    flex-basis: 50%;
}

.ba-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: antiquewhite;
    font-size: 1.3vh;
    text-decoration: none;
    margin-top: 1vh;
    display: block;
    text-align: center;
    width: 9vw;
    margin-left: 9vw;
}

/* fine brand area */

/* frequent question */

.fq-container{
    font-family: 'Varela Round', sans-serif;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 10vh;
    height: 50vh;
}

.fq-title{
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 3.5vh;
}

.fq-dropdown{
    position: relative;
    display: inline-block;
}

.fq-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 1000px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.fq-dropdown:hover .fq-dropdown-content {
    display: block
}

/* fine frequent question */

/* footer */

.foot-container{
    font-family: 'Varela Round', sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 7vh;
    background-color: black;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.foot-column{
    flex-basis: 12%;
}

.foot-title{
    font-size: 1.3vh;
    color: white;
    text-decoration: none;
    margin-bottom: 2vh;
    display: block;
}

.foot-column hr{
    margin-top: 10vh;
}

/* fine footer */

a{
    transition: 1s;
}

a:hover{
    filter: brightness(0.4);
}